body {
    font-family:'Times New Roman', Times, serif;
    background-color:black;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}

.logo {
    width: 250px; 
    height: 130px;
}
.container {
    max-width: 950px;
    margin: 40px auto;
    padding: 33px;
    border: 1px solid #857676;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.509);
    display: flex;
    background-color:white;
    color: black;
    height: 400px;
    padding-top: 70px;
}

.header {
    align-items: center;
    margin-top: -20px;
    font-size: 18px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.form-container {
    flex: 1;
    margin-top: 3%;
}

.formulario {
    width: 45%;
    margin-top: 10px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: rgb(245, 245, 248);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: rgb(249, 249, 253);
}



form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 10px 20px;
    grid-template-areas:
  "sector1 sector2"
  "sector3 sector4";


}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
button {
    background-color: #f5365c;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}



.sector1{grid-area: sector1;}
.sector2{grid-area: sector2;}
.sector3{grid-area: sector3;}
.sector4{grid-area: sector4;}

.contrasena{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
}


/*menu del perfil*/
/* caja principal */ 
.input {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: transparent;
    justify-content: center;
    border-radius: 5px;
  }
  
  /* items */ 
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
 

  /* cuando doy click al item */ 
  
  .value:focus,
  .value:active {
    background-color: rgba(0, 0, 0, 0.188);
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color:#f5365c;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
    
  }
  
  .value svg {
    width: 15px
  }

  /*montar imagen*/
  .profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic-label {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Hace que la imagen se ajuste al tamaño del círculo */
    border: 2px solid #ccc;
}

.brand-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

