{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">

    <link rel="icon" type="image/png" href="{% static 'img/logo2.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
      
</head>
<body>
  <div class="container">
    <div class="header">
       

      <div class="profile-section">
        <div class="profile-container">
            <label for="profile-pic" class="profile-pic-label">
                <img src="{% static 'img/perfil.png' %}" alt="Profile" id="profile-img" class="profile-pic">
            </label>
        </div>
    
        <input type="file" id="profile-pic" accept="image/*" style="display:none;" onchange="loadFile(event)">
        
        
        <p class="brand-name">Aleja_23</p>
    </div>
    
    


<div class="input">
  <button class="value ">
    <i class="fa-solid fa-circle-user"></i>
    Mi perfil
  </button>

  <button class="value">
    <i class="fa-solid fa-clipboard"></i>
    Historial de Pedidos
  </button>

  <button class="value">
    <i class="fa-solid fa-list"></i>
    Gestiones
  </button>

  <button class="value">
    <i class="fa-solid fa-trash"></i>
    Eliminar Cuenta
  </button>

  <a href="{%url 'Ladingpage' %}" class="value" style="text-decoration:none ;">
    <i class="fa-solid fa-right-from-bracket"></i>
    Salir
  </a>
</div>


    </div>
        <div class="form-container">
            <form action="#">

                <div class="sector1">
                    <label for="primerNombre">Primer Nombre:</label>
                    <input type="text" id="primerNombre" name="primerNombre" required style="border-radius: 10px;">
    
                    <label style="margin-top: 5px"for="primerApellido">Primer Apellido:</label>
                    <input type="text" id="primerApellido" name="primerApellido" required style="border-radius: 10px;">
    
                </div>
    
                <div class="sector2">
                    <label for="segundoNombre">Segundo Nombre:</label>
                    <input type="text" id="segundoNombre" name="segundoNombre" style="border-radius: 10px;">
    
                    
    
                    <label style="margin-top: 5px"for="segundoApellido">Segundo Apellido:</label>
                    <input type="text" id="segundoApellido" name="segundoApellido" style="border-radius: 10px;">
    
                </div>
    
                <div class="sector3">
    
                    <label for="contrasena">Contraseña:</label>
                    <input class="contrasena"type="password" id="contrasena" name="contrasena" required style="border-radius: 10px;">
    
                    
                </div>
    
                <div class="sector4">
                    
                    <label for="nombreUsuario">Nombre de usuario:</label>
                    <input type="text" id="nombreUsuario" name="nombreUsuario" required style="border-radius: 10px;">
    
                    
                </div>
    
               
                <button style=" margin-top: 30px; border-radius: 10px;" type="submit">Modificar</button>
                <button style=" margin-top: 30px; border-radius: 10px;" type="submit">Guardar</button>
            </form>
        </div>
    </div>

    <script>
 function loadFile(event) {
    var profileImg = document.getElementById('profile-img');
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onload = function(e) {
        profileImg.src = e.target.result;
        localStorage.setItem('profileImage', e.target.result); // Guarda la imagen en localStorage
    }

    if (file) {
        reader.readAsDataURL(file); // Lee el archivo como Data URL
    }
}

// Al cargar la página, revisa si ya hay una imagen guardada en localStorage
window.onload = function() {
    var savedImage = localStorage.getItem('profileImage');
    if (savedImage) {
        document.getElementById('profile-img').src = savedImage;
    }
}

    </script>
</body>
</html>