body{
    background: url('../img/alexander-krivitskiy-6GmVt60qwlY-unsplash (1).jpg') no-repeat center center;
    background-size: cover;
    }
    
    
    .form-container {
        width: 35%;
        height: 360px;
        background-color: transparent;
        box-shadow: rgba(255, 252, 252, 0.5) 0px 5px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 30px;
        margin-left: 30%;
        margin-top: 8%;
      }
      
      .title {
        text-align: center;
        font-style: oblique;
        font-weight: bolder;
        margin: 10px 0 30px 0;
        font-size: 28px;
        color: white;
      }
      
      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 15px;
      }
      
      .input {
        border-radius: 20px;
        border: 1px solid #c0c0c0;
        outline: 0 !important;
        box-sizing: border-box;
        padding: 12px 15px;
       margin-top: 15px;
        
      }
      
      
      /*boton*/
      .form-btn {
        padding: 10px 15px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        border-radius: 20px;
        border: 0 !important;
        outline: 0 !important;
        background: #f5365c;
        color: white;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-top: -10%;
        width: 80%;
        margin: 0 auto;
      }
      
    .form-btn:active {
        box-shadow: none;
      }
      
    
      
      
    
      
      /* Media Queries para hacer responsive */
    @media (max-width: 768px) {
        .form-container {
            width: 70%; /* Ajusta el tamaño a un porcentaje más grande en pantallas pequeñas */
            height: auto; /* Deja que el formulario ajuste su altura automáticamente */
            padding: 20px 15px;
            margin-top: 15%;
            margin-left: 13%;
        }
        
        .title {
            font-size: 24px; /* Ajusta el tamaño de la fuente del título */
        }
        
        .form-btn {
            padding: 10px;
        }
        
    }
    
    @media (max-width: 480px) {
        .form-container {
            width: 90%; /* Más amplio para pantallas de móviles */
            height: auto;
            padding: 15px;
            margin-top: 35%;
            margin-left: 5%;
        }
    
        .title {
            font-size: 20px; /* Reduce el tamaño del título aún más para pantallas muy pequeñas */
        }
    
        .input {
            padding: 10px; /* Reduce el padding de los inputs */
        }
    
        .form-btn {
            padding: 8px;
            font-size: 14px; /* Ajusta el tamaño de texto en el botón */
        }
    
        
    }
    
    /* error validacion */
    .error {
        border: 2px solid rgb(255, 0, 0);
      }

      .error-message {
        color: red;
        font-size: 14px;
        margin-top: -5px;
        display: none; /* Oculto por defecto */
      }
      